.process-slider {
  background-color: #000;
  color: #fff;
}

.process-slide img {
  width: 100%;
}

/* .process-swiper-container {
  height: 100%;
} */

/* .sidebar_menu {
  width: 100vw;
  height: 100vh;
} */
