/* Navbar */

.navbar-brand>img {
  width: 60px;
}

.navbar-brand>img.logo-after-scroll {
  width: 180px;
}

/* Main Slider w/Video */

.header-logo {
  width: 500px;
  max-width: 80vw;
}

/*Process Slider*/

.process-slider {
  background-color: #000;
  color: #fff;
  position: relative;
  height: 600px;
  max-height: calc(100vh - 70px);
}

.process-slide img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  max-width: 100%;
}

.process-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-process-inner .button-setting {
  color: #333;
}

.company-process-inner .button-setting:hover,
.company-process-inner .button-setting:focus {
  color: #fff !important;
}

#main-slider-section video {
  object-fit: cover;
  min-height: 100%;
}

/* Contact Section  */

.contact-heading img {
  max-width: 90%;
}
